.product-info {
  margin-bottom: 300px;
}
.product-info-detail {
  width: 100%;
  height: 500px;
}

.fixed-tab ul li {
  display: inline-block;
}
.fixed-tab {
  background-color: pink;
  height: 30px;
  line-height: 30px;
  top: 0;
  position: sticky;
}
.top-btn {
  position: sticky;
  background-position: bottom right;
  background-color: pink;
  height: 100px;
  width: 100px;
  bottom: 0%;
}
