.position-sticky {
  position: sticky;
  top: 0; /* 뷰포트의 최상단에 도달했을 때 고정 */
  background-color: palegreen;
}

.sticky-container {
  height: 1200px;
  width: 100vw;
  background: linear-gradient(lightblue, lightpink);
}
